In [21]:
import pandas as pd
df = pd.read_csv('카카오리뷰감성점수.csv')
df = df.apply(pd.to_numeric, errors='coerce')
df0 = pd.read_csv('데모감성점수.csv')
df0 = df0.apply(pd.to_numeric, errors='coerce')
df1 = pd.read_csv('naver_kakao_matzip.csv')
dm = df1[['kakao_review_list']]
#dm = dm.dropna()
dm = dm[dm['kakao_review_list'].isnull()]
df

      sentence  comment     score  ratio
0          0.0      NaN  0.000000   0.00
1          NaN      NaN -0.370520  -0.14
2          NaN      NaN  2.236831   0.93
3          NaN      NaN -0.538165  -0.27
4          NaN      NaN -0.254939  -0.14
...        ...      ...       ...    ...
2941       NaN      NaN  5.395163   2.05
2942       NaN      NaN  0.120637   0.12
2943       NaN      NaN  5.262832   2.18
2944       NaN      NaN  0.111873   0.08
2945       NaN      NaN -0.558090  -0.31

[2946 rows x 4 columns]

In [2]:
df.loc[df['ratio']>0, 'point'] = 1.00
df.loc[df['ratio']==0, 'point'] = -1.00
df.loc[df['ratio']<0, 'point'] = 0.01
df.loc[df['sentence']>=0, 'point'] = 0.00
df = df.drop([0], axis=0)
df0.loc[df0['ratio']>0, 'point'] = 1.00
df0.loc[df0['ratio']==0, 'point'] = -1.00
df0.loc[df0['ratio']<0, 'point'] = 0.01
df0.loc[df0['sentence']>=0, 'point'] = 0.00
df0 = df0.drop([0], axis=0)

In [16]:
df

      sentence  comment     score  ratio  point
1          NaN      NaN -0.370520  -0.14   0.01
2          NaN      NaN  2.236831   0.93   1.00
3          NaN      NaN -0.538165  -0.27   0.01
4          NaN      NaN -0.254939  -0.14   0.01
5          NaN      NaN -3.523481  -1.24   0.01
...        ...      ...       ...    ...    ...
2941       NaN      NaN  5.395163   2.05   1.00
2942       NaN      NaN  0.120637   0.12   1.00
2943       NaN      NaN  5.262832   2.18   1.00
2944       NaN      NaN  0.111873   0.08   1.00
2945       NaN      NaN -0.558090  -0.31   0.01

[2945 rows x 5 columns]

In [4]:
po = 0
ne = 0
pone_list=[]
for i in df['point']:
    if i==1.00 or i== -1.00:
        po = po+1
    elif i== 0.01:
        ne = ne+1
    elif i == 0.00:
        a = round(po/(po+ne)*100,2)
        pone_list.append(a)
        po = 0
        ne = 0
        continue

In [5]:
#kakao
po = 0
ne = 0
kakao_po_list=[]
kakao_neg_list=[]
for i in df['point']:
    if i==1.00 or i== -1.00:
        po = po+1
    elif i== 0.01:
        ne = ne+1
    elif i == 0.00:
        kakao_po_list.append(po)
        kakao_neg_list.append(ne)
        po = 0
        ne = 0
        continue

In [6]:
#naver
po = 0
ne = 0
naver_po_list=[]
naver_neg_list=[]
for i in df['point']:
    if i==1.00 or i== -1.00:
        po = po+1
    elif i== 0.01:
        ne = ne+1
    elif i == 0.00:
        naver_po_list.append(po)
        naver_neg_list.append(ne)
        po = 0
        ne = 0
        continue

In [22]:
len(kakao_po_list)

110

In [15]:
kakaonanlist =[3,5,6,7,8,11,18,21,23,25,26,29,30,33,34,35,36,37,38,39,40,41,42,43,51,52,54,55,56,57,61,62,63,66,67,69,70,72,74,78,79,80,85,86,91,92,93,94,95,96,99,103,111,113,114,116,117,120,122,127,130,131,132,135,136,137,139,146,148,153,154,155,157,158,162,164,166,176,177,183,184,185,186,187,188,190,192,193,195,197,198,199]
len(kakaonanlist)

92

In [ ]:
for i in kakaonanlist:
    kakao_po_list.insert(i,0)

In [7]:
#82index가 nan값

In [8]:
#pone_list.insert(82,0)

In [9]:
#len(pone_list)

In [10]:
#po_rate = pd.DataFrame(pone_list, columns = ['pos_rev_Rate'])
#po_rate

In [11]:
#df0 = pd.read_csv('naver_kakao_matzip.csv')
#result = pd.concat([df0, po_rate], axis = 1)
#result[81:86]

In [12]:
#result.to_csv("kakao_naver_(리뷰분석추가).csv",encoding='utf-8-sig' )